.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.cart-container{
    background-color: navajowhite;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

@media screen and (max-width:1100px) {
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}